main{
    display: flex;
    
    height: 100vh;
}
.colunm_left{
    width: 45%;
    background-color: var(--color-brand-1);
    display: flex;
    flex-direction: column;
    padding: 0 9.438rem;
    justify-content: center;
    align-items: flex-start;
}

h1{
color:var(--color-grey-7);
font-size: 2rem;
font-weight: 600;
margin-bottom: 2.313rem;
}

.colunm_left > p{
    color:var(--color-grey-7);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    margin-bottom: 2.813rem;
}

.left_footerDiv{
    display: flex;
    color:var(--color-grey-7);
    gap: 1.188rem;
    justify-content: space-between;
    align-items: center;
}

.user_preview_ul{
    display: flex;
    gap:11px;
}

.user_preview_li{
    width: 44px;
    height: 44px;
    
}
.user_preview_li a > img{
    width: 44px;
    height:44px;
    border-radius: 100%;
    border: 1px solid var(--color-grey-7);
    cursor: pointer;

}
.user_preview_li a{
    position: relative;
}

.user_preview_li a > .accessProfile{
    width: 7.75rem;
    padding: 0.25rem 0.5rem;
    background-color:var(--color-grey-7);
    color: var(--color-grey-1);
    border-radius: 0.25rem;
    font-size: 0.75rem;
    position: absolute;
    bottom: -1.125rem;
    left: -2.375rem;
    z-index: 1;
    visibility: hidden;
}
a:hover .accessProfile{
    visibility: visible;
}

.colunm_right{
    width: 55%;
    background-color: var(--color-grey-2);
    display: flex;
    flex-direction: column;
    padding: 0 11.813rem;
    justify-content: center;
    align-items: flex-start;
}
.colunm_right > h2{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-grey-7);
    padding-bottom: 2.813rem;
}

.form{
    display: flex;
    flex-direction: column;
}

.form .user{
    font-size: 0.875rem;
    color:var(--color-grey-7);
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 1rem;
}

.errorMessage{
    color: var(--color-brand-1);
    margin-top: 0.75rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.button_seePerfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 93px;
    gap: 10px;
    background-color: rgba(214, 51, 108, 0.4);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.35);
    margin-top: 1.25rem;
    cursor: pointer;
}

.button_seePerfil_light{ 
   background-color: var(--color-brand-1);
   color: var(--color-grey-7);
}

.hidden{
    display: none;
}

.loading{
    animation: spinner 1s infinite linear;
}

@keyframes spinner {
    to {
        transform: rotate(1turn);
      }
  }